# !pip install requirements.txt
ultralytics==8.3.193
torch==2.7.0
torchvision==0.22.0
torchaudio==2.8.0
opencv-python
numpy==2.3.2
pandas==2.3.2
deep-sort-realtime==1.3.2 # pip install git+https://github.com/KaiyangZhou/deep-person-reid.git
torchreid
supervision
scipy



